*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 90px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: rgb(22, 50, 91);
    color: white;
    overflow-x: hidden;
    
}


header{
    padding-top: 3px;
    padding-bottom: 0;
    width: 100%;
    position: static;
    background-color: rgb(33,58,113);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

header hr{
    color: white;
}


#btn-dark{
    background-color:rgb(5, 31, 70);
}


#btn-orange{
    background-color:rgb(255,122,0);
    border-radius: 5px;
}


.section-one{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(33,58,113);
    color: white;
    font-family: 'Raleway', sans-serif;
}


.section-one h1{
    padding-top: 280px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
}


.section-one p{
    font-family: 'Raleway', sans-serif;
    color: rgb(233, 224, 224);
}

#btn-learnmore{
    background-color: rgb(254,122,0);
    border-radius: 5px;
    font-size: 18px;
}

.cover{
    margin-top: 50px;
}

.section-two{
    background-color: rgb(236,240,254);
}


.images{
    margin-left: 90px;
    margin-bottom: 30px;
}

.section-two h1{
    padding-top: 0px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(15,33,55);
}

.section-two h5{
    font-family: 'Raleway', sans-serif;
    color: rgb(15,33,55);
    text-align: center;
    font-weight: 600;
}


.section-two p{
    padding-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-align: center;
}


.section-three{
    margin: 50px 10px;
    font-family: 'Raleway', sans-serif;
}

.section-three h1{
    padding-top: 30px;
    padding-bottom: 90px;
    color: rgb(15,33,55);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}