*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 90px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: rgb(2, 7, 62);
    overflow-x: hidden;
    
}

header{
    padding-top: 5px;
    width: 100%;
    position: static;
    background-color: white;
}
 

header li a{
    color: rgb(2, 7, 62);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}


header hr{
    width: 100%;
}

.page-one img{
    margin: 50px 118px;
}

.catch-phrase{
    margin: 0 118px;
    color: rgb(28, 31, 65);
}

.catch-phrase p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.info{
   margin: 40px 150px;
}


#info-borders{
    position: relative;
    background: rgb(240, 243, 248);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(219, 234, 255);
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    width: 280px;
}




.border img{
    margin: 5px;
    align-items: center;
}

.border h3{
    color:rgb(2, 7, 62) ;
    text-align: center;
    justify-content: center;
    font-weight: 900;
}

.border h5{
    color: #43414e;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
}


.container-fluid{
    margin: 40px 50px;
}


.team{
    margin: 20px 100px;
}


.team ul li img{
    margin-left: 13px ;
}

.team ul li p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.para-two{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#part-one{
    font-family: 'Raleway', sans-serif;
    color:rgb(2, 7, 62) ;
    font-weight: 600;
}

#part-two{
    font-family: 'Raleway', sans-serif;
    color: #43414e;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.5;
}

#part-three{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 2.5;
}

#part-four{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.5;
}

.col-8 p h6{
    font-family: 'Raleway', sans-serif;
}

.bi{
    color: rgb(240, 161, 14);
}

#pink{
    color:#F06292 ;
}

#navy{
    color: #9dacbb ;
}

#green{
    color: rgb(138, 216, 138) ;
}

#blue{
    color: rgb(108, 108, 182) ;
}

#purple{
    color: rgb(131, 77, 131);
}

.programmes{
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgb(240, 243, 248);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


.borders{
    padding: 25px;
    margin-right: 35px;
    text-align: center;
    width: 290px;
    height: 900px;
}


.programmes h1{
    margin-bottom: 30px;
}


.programmes h2{
    text-align: center;
    font-weight: 600;
}

.programmes p{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 1.75;

}

#burgundy{
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    color: rgb(173, 66, 0);
    font-weight: 900;
    text-align: center;
    line-height: 1.75;
}


#btn{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: rgb(28, 31, 65);
    color: white;
}



.check-items li{
    line-height: 2em;
    text-align: left;
}



#check{
    color: green;
}



.partners{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



.partners h6{
    margin-left: 400px;
    text-align: center;
    width: 550px;
    line-height: 2.5em;
}

.apply-now{
    padding-top: 20px;
    text-align: center;
    background-color: #ff9100;
    height: 400px;
    color: White;
    font-family: 'Raleway', sans-serif;
    
}

.apply-now h1{
    margin-top: 100px;
    font-size: 75px;
    font-weight: 600;
}



#an-btn{
    padding: 10px 60px;
    background-color: rgb(28, 31, 65);
    color: white;
}


footer{
    background-color:  rgb(22, 50, 91);
    color: white;
    text-align: center;
}

footer img{
    margin-top: 150px;
    margin-bottom: 50px;
}


footer p{
    font-weight: 300;
    padding-bottom: 150px;
}

