*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 90px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: rgb(2, 7, 62);
    
}

header{
    margin: 0 2px;
    padding-top: 5px;
    width: 100%;
    position: static;
    background-color: white;
}
 

header li a{
    color: rgb(2, 7, 62);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}


header hr{
    width: 100%;
}

.page-one img{
    margin: 30px 118px;
}

.catch-phrase{
    margin: 0 118px;
    color: rgb(28, 31, 65);
}

.catch-phrase p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#cards{
   margin: 40px 100px;
}

.border {
    position: relative;
    background: rgb(240, 243, 248);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(219, 234, 255);
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
}


.border img{
    margin: 5px;
    align-items: center;
}

.border h1{
    color:rgb(2, 7, 62) ;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.border h5{
    color: #43414e;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}


.container-fluid{
    margin: 40px 50px;
}


.team{
    margin: 20px 100px;
}


.team ul li img{
    margin-left: 13px ;
}

.team ul li p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.para-two{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#part-one{
    font-family: 'Raleway', sans-serif;
    color:rgb(2, 7, 62) ;
    font-weight: 600;
}

#part-two{
    font-family: 'Raleway', sans-serif;
    color: #43414e;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.5;
}

#part-three{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 2.5;
}

#part-four{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.5;
}

.col-8 p h6{
    font-family: 'Raleway', sans-serif;
}

.bi{
    color: rgb(240, 161, 14);
}

#pink{
    color:#F06292 ;
}

#navy{
    color: #9dacbb ;
}

#green{
    color: rgb(138, 216, 138) ;
}

#blue{
    color: rgb(108, 108, 182) ;
}

#purple{
    color: rgb(131, 77, 131);
}

.programmes{
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: rgb(240, 243, 248);
    color:rgb(2, 7, 62) ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


.programmes h1{
    font-size: 25px;
}

.programmes h6{
    font-size: 15px;
    font-weight: 300;
}

#btn{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(28, 31, 65);
    color: white;
}

#check{
    color: green;
}

.partners{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.apply-now{
    padding-top: 20px;
    text-align: center;
    background-color: #ff9100;
    height: 400px;
    color: White;
    font-family: 'Raleway', sans-serif;
    
}

.apply-now h1{
    margin-top: 100px;
    font-size: 75px;
    font-weight: 600;
}

footer{
    background-color:  rgb(22, 50, 91);
    color: white;
    text-align: center;
}

footer img{
    margin-top: 150px;
    margin-bottom: 50px;
}


footer p{
    font-weight: 300;
    padding-bottom: 150px;
}

#an-btn{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(28, 31, 65);
    color: white;
}